{% extends "dashboard.html" %}

{% block title %}Tramites{% endblock %}

{% block content %}
    <div class="mt-3">
        <ul class="nav-menu" id="myTab" role="tablist" style="font-weight: 500;">
            <li class="nav-item" role="presentation">
                <a href="{% url 'lista_tramites' %}" class="nav-link d-flex align-items-center gap-2 {% if tab_activa == 'lista_tramites' %}active{% endif %}" id="profile-tab" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="{% if tab_activa == 'lista_tramites' %}true{% else %}false{% endif %}">
                    <i class="fas fa-list-alt"></i> Lista de Tramites
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="{% url 'nuevo_tramite' %}" class="nav-link d-flex align-items-center gap-2 {% if tab_activa == 'nuevo_tramite' %}active{% endif %}" id="contact-tab" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="{% if tab_activa == 'nuevo_tramite' %}true{% else %}false{% endif %}">
                    <i class="fas fa-plus-circle"></i> Nuevo Tramite
                </a>
            </li>
        </ul>
    </div>
    <div class="content-wrapper mt-4">
     {% block tramites_content %}
    {% endblock %}
   </div>
</div>
{% endblock %}
